## Libraries required for the analysis

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from plotnine import *
from dotenv import load_dotenv
import os
import mysql.connector

In [11]:
load_dotenv("C:/GitHub/Bootcamp-2025-DA/Python/sakila.env")

MYSQL_HOST = os.getenv("MYSQL_HOST")
MYSQL_USER = os.getenv("MYSQL_USER")
MYSQL_PASSWORD = os.getenv("MYSQL_PASSWORD")
MYSQL_DATABASE = os.getenv("MYSQL_DATABASE")

db_config = {
    "host": MYSQL_HOST,
    "user": MYSQL_USER,
    "password": MYSQL_PASSWORD,
    "database": MYSQL_DATABASE
}

conn = mysql.connector.connect(**db_config)
cursor = conn.cursor()

query = "SELECT f.title, COUNT(r.rental_id) AS rental_count FROM rental r JOIN inventory i ON r.inventory_id = i.inventory_id JOIN film f ON i.film_id = f.film_id GROUP BY f.title ORDER BY rental_count DESC LIMIT 10;"
df = pd.read_sql(query, conn)


cursor.close()
conn.close()


df.head()

C:\Users\Mahes\AppData\Local\Temp\ipykernel_26968\1993872255.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

                 title  rental_count
0   BUCKET BROTHERHOOD            34
1     ROCKETEER MOTHER            33
2  RIDGEMONT SUBMARINE            32
3       GRIT CLOCKWORK            32
4        SCALAWAG DUCK            32